<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ahmedur Rahman Shovon">
    <title>Dropdown Example</title>
</head>
<body>
     <select name="list\_status">
  {% value, human in listStatus %}
    <option value="{{value}}" {% if value== default %} selected {% endif %}>{{human}}</option>
  {% endfor %}
</select>
    <input type="submit" value="Submit">
 
  
</body>
</html>