<!DOCTYPE html>
<html>
  <head>
    <title>dst app</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
  </head>
  <body>
    <header>
      <div class="container">
       
        <strong><nav style="position: relative; z-index: 2;">
          <ul class="menu" style="background-color: #DFB887; style="float: right;">
            <li style="margin-left: 35px; display: inline;"><a href="{{ url_for('home') }}" style ="color: #444; text-decoration: none; background-color: #DFB887;">Home</a></li>
            <li style="margin-left: 35px; display: inline;"><a href="{{ url_for('my_form') }}" style ="color: #444; text-decoration: none; background-color: #DFB887;">Shop</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <body>
    <!-- <div class="container"> -->
     <!--  <div id="ex1" >this is a side pane<br>
      the questions i want to address<br>
      quest1<br>
      question2<br></div>
       <iframe src="https://datastudio.google.com/embed/reporting/1jeug7AvejNDLsGFlsWZ566K9dEhUo87M/page/IcYm" style="border: 0; width: 75%; height: 100%; display: block; position: absolute; right: 0px; top: 0px; z-index: 1"/> -->
       <table>
         <tr>
           <td id="first" style="background-color: #ddccee; width: 400px;">
              this is a side pane<br>
              the questions i want to address<br>
              quest1<br>
              question2<br>
              question3
           </td>

           <td>
              <iframe src="https://datastudio.google.com/embed/reporting/1jeug7AvejNDLsGFlsWZ566K9dEhUo87M/page/IcYm" style="border: 0; width: 75%; height: 100%; display: block; position: absolute; right: 0px; top: 0px; z-index: 1"/>
           </td>
         </tr>
       </table>
    <!-- </div> -->
  </body>
</html>

<style type="text/css">

</style>